[Unit]
Description=Calaos home automation touchscreen UI

[Service]
Environment=DISPLAY=:0
Environment=QTWEBENGINE_CHROMIUM_FLAGS="--no-sandbox"
ExecStartPre=/usr/bin/mkdir -p /var/lib/calaos/cache /etc/calaos
ExecStart=/usr/bin/calaos_home --config /etc/calaos --cache /var/lib/calaos/cache
Restart=always
RestartSec=2s
Type=simple
User=root

[Install]
WantedBy=graphical.target
