
*.tar.bz2
*.tar.gz
*.tar.xz
*.tar.zstd
*.tar.zst
*.sig

pkg
src

calaos-ddns/calaos-ddns
calaos-home/calaos_mobile
calaos-server/calaos_base
calaos-web-app/calaos-web-app
calaos-install-tools/calaos-install-tools
knxd/knxd
ola/ola
